.dashboard {
  display: flex;
  flex-direction: column;
  // height: calc(100vh - 6rem);
  height: 100vh;
  width: 100vw;
  header {
    .header {
      height: 3rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      color: var(--light);
      .logo {
        width: 16rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: 48rem) {
          width: fit-content;
          padding: 0 1rem;
        }
      }
      &_title {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-size: 2rem;
        @media screen and (max-width: 48rem) {
          display: none;
        }
      }
      &_menu {
        font-size: 1.5rem;
        width: 3rem;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  main {
    flex: 1;
    height: calc(100vh - 6rem);
    display: flex;
    flex-direction: row;
    .main_content {
      display: flex;
      width: 100%;
      height: auto;
      flex: 1;
      border-radius: 0.5rem;
      border: 1px solid var(--accent);
      margin: 1rem;
      margin-left: 0;
      overflow-y: auto;
      padding: 0.5rem;
      flex-direction: column;
      article {
        height: 100%;
      }
    }
  }
  footer {
    height: 3rem;
    background: var(--dark);
  }
}
