article {
  &.welcome {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
  }
  &.insumos,
  &.items,
  &.capitulos,
  &.subcapitulos,
  &.presupuestos {
    flex: 1;
    display: flex;
    flex-direction: column;
    .table {
      height: auto;
      max-height: calc(100% - 3rem);
      width: 100%;
      & + .btn {
        margin: auto 0 0 auto;
      }
    }
  }
  &.eliminar {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.insumos {
    &.informe {
      display: initial;
      .table {
        height: auto;
        margin-bottom: 2rem;
        max-height: fit-content;
        table {
          height: 100%;
          th {
            position: initial;
          }
        }
      }
    }
  }
}
